.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.menu ul li{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.menu li a{
    margin-top: 2px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer {
    margin-top: 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(179, 179, 179);
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.form-horizontal{
    border: #333;
}

.imgp{
    margin-top: 40px;
    width: 680px;
    height: 400px;
}

.imgs{
    margin-top: 40px;
    width: 335px;
    height: 150px;
}

.imgs2{
    margin-top: 10px;
    width: 335px;
    height: 150px;
}

.home{
    margin-left: 100px;
}

.navbar-brand{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #333;
}



